/* AQUI VA TODO DEL MENU PRINCIPAL */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* COLOR DE TODA LA PAGINA */
body{
    background:#009081;
}

/* MARGEN */
header{
    width: 100%;
}

/* EL MENU DE ARRIBA DESPLEGABLE */
.UNO{
	width: 1000px;
	margin: 40px 350px ;
	background: #fff;
}

/* '''''''''' */
.UNO ul{
	list-style: none;
}

/* MENU DEPLEGABLE */
.menu > li{
	position: relative;
	display: inline-block;
}

/* MENU DESPLEGABLE */
.menu > li > a{
	display: block;
	padding: 15px 60px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

/* COLOR AL SELECCIONAR ANIMACION*/
.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* MENU DEPLEGABLE */
.submenu{
	position: absolute;
	background: #000000;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

/*  SUB MENU COLOR */
.submenu li a{
	display: block;
	padding: 20px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

/* ''''''''''''' */
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/* LOGO */
.foto2 
{ 
  padding: 0px; 
  margin: 15px; 
  border: 3px solid black; 
  float: left; 
  width: 220px; 
  margin-top: -30px;
  margin-left: 100px;
}




  
  /*CSS DE PIE DE PAGINA*/
  html {
	min-height: 160%;
	position: relative;
  }
  body {
	margin: 0px;
	margin-bottom: 10px;
  }
  footer {
	background-color: rgb(0, 111, 115);
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
  }

/* TODO EL CONTENIDO*/
  section{

    width: 60%;
    height: 25%;
    float: right;
    padding:100px;
    padding-top: 30px;

}

/* IMAGEN UNO*/
.align-right1{
    width: 85%;
    height: 100%;
    margin: 10px 0px 0px 0px;
    margin-left: 30px;
    padding:10px;
}

/* IMAGEN DOS*/
.align-right2{
    width: 85%;
    height: 100%;
    margin: 10px 0px 0px 0px;
    margin-left: 30px;
    padding:10px;
}


/* TODO LO DEL MENU IZQUIERDO POSICION*/
aside{
    
    width: 35%;
    height: 0px;
    font-size: 18px;
    margin: 0px 0px 0px 100px;
    padding: 100px;
    margin-top: 0px;

}


/* TODO EL CONETENIDO CON SU COLOR Y SU TEXTO*/
#SECTION{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  width: 1470px;
  min-height: 800px;
  background: #008799;
  margin: 30px;
  border-style: solid;
  border-color: #000;

}

/* TEXTO DE H2 */
#SECTION h2{
  color: #031944;
  margin: 100px 20px 0px 0px;
}

/* TEXTO DE H4 */
#SECTION h4{
    color: #031944;
    margin: 0px 300px 0px 300px;
  }

  /* IMAGEN DE INFORMACION 1 */
#imagenN4 img{
  margin: 0px 0px 0px 0px;
  border-style: inset;
  border-color: #000;
    
}

    /* IMAGEN DE INFORMACION 2 */
  #imagenN5 img{
      margin: -258px 700px 0px 0px;
      border-style: inset;
      border-color: #000;   
    }
  
    /* IMAGEN DE INFORMACION 3 */
    #imagenN6 img{
      margin: -315px -700px 0px 0px;
      border-style: inset;
      border-color: #000;
        
    }