/* AQUI VA TODO DEL MENU PRINCIPAL */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* COLOR DE TODA LA PAGINA */
body{
    background:#009081;
}

/* MARGEN */
header{
    width: 100%;
}

/* EL MENU DE ARRIBA DESPLEGABLE */
.UNO{
	width: 1000px;
	margin: 40px 350px ;
	background: #fff;
}

/* '''''''''' */
.UNO ul{
	list-style: none;
}

/* MENU DEPLEGABLE */
.menu > li{
	position: relative;
	display: inline-block;
}

/* MENU DESPLEGABLE */
.menu > li > a{
	display: block;
	padding: 15px 60px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

/* COLOR AL SELECCIONAR ANIMACION*/
.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* MENU DEPLEGABLE */
.submenu{
	position: absolute;
	background: #000000;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

/*  SUB MENU COLOR */
.submenu li a{
	display: block;
	padding: 20px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

/* ''''''''''''' */
.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/* LOGO */
.foto2 
{ 
  padding: 0px; 
  margin: 15px; 
  border: 3px solid black; 
  float: left; 
  width: 220px; 
  margin-top: -30px;
  margin-left: 100px;
}




  
  /*CSS DE PIE DE PAGINA*/
  html {
	min-height: 250%;
	position: relative;
  }
  body {
	margin: 0;
	margin-bottom: 10px;
  }
  footer {
	background-color: rgb(0, 111, 115);
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
  }



/* IMAGEN UNO*/
.align-right1{ 
    width: 85%;
    height: 100%;
    margin: 10px 0px 0px 0px;
    margin-left: 30px;
    padding:10px;
}

/* IMAGEN DOS*/
.align-right2{ 
    width: 85%;
    height: 100%;
    margin: 10px 0px 0px 0px;
    margin-left: 30px;
    padding:10px;
}

/* TODO LO DEL MENU IZQUIERDO POSICION*/
aside{
    
    width: 35%;
    height: 0px;
    font-size: 18px;
    margin: 0px 0px 0px 100px;
    padding: 100px;
    margin-top: 0px;

}

/* DONDE VA CADA IMAGEN Y COLOR DE PRODUCTO CUADROS*/
.cajas{
    width: calc(33% - 40px);
    margin: 20px;
    height: auto;
    background: rgb(0, 114, 143);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    float: left;
}

/* LUGAR DE LAS IMAGENES*/
 .con-cajas{
    
    text-align : center
   
}

